<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/78e6f741f4.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js/vue_3.2.19.js"></script>
    <script src="js/data.js"></script>
    <script src="js/index.js"></script>
    <title>個人履歷網頁</title>
</head>

<body>
    <div id="page">
        <!-- main start -->
        <div class="main">
            <div class="main_pic"></div>
            <div class="main_msg">
                <h1>陳正倫</h1>
                <ul>
                    <li>
                        <i class="fas fa-user-tie"></i> Chen ,Cheng -Lun / Taichung，TW / 1983年05月27日
                    </li>
                    <li><i class="fas fa-envelope"></i>
                        <tt>redsinsue@gmail.com</tt> / 0980-178570
                    </li>
                    <li>
                        <i class="fab fa-github"></i> GitHub：
                        <a href="https://github.com/cheenlam">https://github.com/cheenlam</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- autobiography start -->
        <div class="autobiography" data-aos="zoom-in" data-aos-duration="1000">
            <ul>
                <li>您好，我的名字叫陳正倫，現居台中市南屯區。 </li>
                <li>役畢踏入職場至今已有十年的工作經驗，在這幾年間，都秉持著盡全力完成公司交辦的 工作，並因應公司產能需求配合加班。過去幾年，我都在自動化控制領域發展，對於編 寫PLC程式，以及邏輯思考方面都有極高的熱忱。 </li>
                <li>上一份工作是在精密科學園區擔任助理工程師，因工作需求，接觸到編寫軟體程式的領 域，對其十分感興趣，考慮到未來全球將走向全面電腦自動化，毅然決然投入這個專業 的領域。
                </li>
                <li>因此，前往中區資策會學習全端程式設計，從手刻HTML5、CSS前端RWD網頁開始學習、 到使用套件Bootstrap快速切版，到之後利用JavaScript以及JQuery增添網頁的互動 功能，包含drop拖拉事件判斷、碰撞判斷、scroll捲軸滑動、購物車、以setInterval 計時器製作清單輪播、倒數計時器等功能，也學會使用ES6的新寫法，以及Mysql資料庫 增修刪查的基礎語法，目前正努力學習後端 Java程式，除了資策會的課程，課後也積極 瀏覽更多線上課程。
                </li>
                <li>這段時間以來，一步步累積作品精實自己的能力的過程中，更加確定程式開發是我喜愛的 工作，我願意全心投入，期望未來我能製作出更多作品，並成為具備獨立開發能力的軟體 工程師。
                </li>
            </ul>
        </div>

        <!-- skill start -->
        <div class="skill" id="skill" data-aos="zoom-in" data-aos-duration="1000">
            <h5>Skill</h5>
            <div class="skill_content">
                <template v-for="(item,index) in skills">
                    <div>
                        <span>{{item.title}}</span>
                        <ul>
                            <template v-for="(i,index) in item.list">
                                <li>{{i}}</li>
                            </template>
                </ul>
            </div>
            </template>
        </div>
    </div>

    <!-- education start -->
    <div class="education" data-aos="zoom-in" data-aos-duration="1000">
        <h5>Education</h5>
        <div class="education_content">
            <ul>
                <li>高雄市立中正高中 ─ 1998 年 9 月 - 2001 年 6 月</li>
                <li>國立台灣體育學院 ─ 休閒運動學系，2001 年 9 月 - 2005 年 6 月</li>
                <li>資策會中區訓練中心 ─ 全端程式設計師養成班，2019 年 10 月 - 2020 年 5 月</li>
            </ul>
        </div>
    </div>

    <div class="education" data-aos="zoom-in" data-aos-duration="1000">
        <h5>Experience </h5>
        <div class="education_content">
            <ul>
                <li>鈗聯資訊有限公司 ─ 網頁工程師，2020 年 2 月 - 2021 年 4 月</li>
                <li>鴻和國際 ─ 前端工程師，2020 年 8 月 - 至今</li>
            </ul>
        </div>
    </div>

    <!-- collection start  -->
    <div class="collection">
        <h5>Collection</h5>
        <div class="collection_txt" data-aos="zoom-in" data-aos-duration="1000">
            <ul>
                <li>以下為踏入前端領域至今的相關作品</li>
                <li>全數使用HTML、CSS純手刻切版，唯一後台網站使用Bootstrap快速套版製作，應用JavaScript 與JQuery編寫判斷及執行函式，並加入ES6寫法，其中包含drop拖拉事件判斷、碰撞判斷、 scroll捲軸滑動、購物車、以setInterval計時器製作清單輪播、倒數計時器等功能。
                </li>
            </ul>
        </div>

        <div class="collection_content" id="collection">
            <template v-for="(item,index) in works">
                    <a :href="item.href" target="_blank">
                        <div class="list" data-aos="fade-left" data-aos-duration="1000">
                            <div class="collection_pic">
                                <img :src="item.img">
                            </div>
                            <div class="collection_Introduction">
                                <ul>
                                    <template v-for="(item,index) in item.info">
                                        <li>{{item}}</li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                     </a>
            </template>
        </div>
    </div>

    <!-- gotop start -->
    <div class="gotop" @click="goTop()" v-show="topSwitch">
        <i class="fas fa-angle-up"></i>
    </div>

    </div>


    <script>
        Vue.createApp({
            data() {
                return {
                    skills: skills,
                    works: works,
                    topSwitch: false,
                };
            },
            methods: {
                goTop() {
                    window.scrollTo({
                        top: 0,
                        behavior: "smooth"
                    });
                },
                topShow() {
                    if (window.scrollY > $('#skill').offset().top) {
                        this.topSwitch = true
                    } else {
                        this.topSwitch = false
                    };
                }
            },
            mounted() {
                window.addEventListener('scroll', this.topShow);
            },
        }).mount("#page");

        AOS.init();
    </script>

</body>

</html>